*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 50px;
    
}
.menu_topo{
    
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 250px;
    text-transform: uppercase;
    
    
}
.menu_topo h1{
    font-size: 20px;
    

}
.menu_topo ul{
    font-size: 12px;
    width: 900px;
    display: flex;
    text-align: end;
    list-style-type: none;
    
    margin-left: 300px;
    justify-content: space-around;

}
.menu_topo a{
    text-decoration: none;
    color: black;
}

.container-footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container-footer-box{
    width: 1366px;
    height: 100%;

}

.container-footer-services{
    width: 60%;
    height: 150px;
    margin: 20px auto;
}

.titulo-services{
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 28px;
}

.texto-services{
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
}

.container-boxes{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.container-footer-boxes{
    width: 19%;
    height: 300px;
}

.image-redondo{
    width: 40%;
    margin-left: 70px;
}

.services{
    font-size: 28px;
    text-align: center;
    color: skyblue;
}

.box-service{
    text-align: center;
}